*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: xx-large;
    color: rgb(217, 255, 0);
    font-family: 'Tilt Neon', sans-serif;
}
.navbar-brand:hover{
    color: black;
}
.nav-item a{
    margin-right: 15px;
    margin-left: 15px;
    color:black;

    text-transform: uppercase;
    font-family: 'Tilt Neon', sans-serif;
}
.nav-item a:hover{
    color:rgb(217, 255, 0);
}
.d-flex{
    color: rgb(217, 255, 0);
    font-size: large;
    cursor: pointer;
}
.main{
    background: url(images/hogan.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main p{
    font-size: x-large;
    text-transform: uppercase;
}
.main h1{
    font-size: 5rem;
    font-weight: 800;
}
.btn2{
    height: 45px;
    width: 40%;
    color: white;
    outline: none;
    border: none;
    background: rgb(217, 255, 0);
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;
}
.btn2:hover{
    border: rgb(217, 255, 0);
    background: transparent;
    color: rgb(217, 255, 0);
    transition: all 0.4s;
}
.btnc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: black;
    border: none;
    outline: none;
    background: white;
    cursor: all 0.4s;
}
.btnc:hover{
    background: rgb(217, 255, 0);
    color: white;
    transition: all 0.4s;
}
.zoom-n-rotate{
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;

}
.zoom-n-rotate img{
    transition: transform .5s ease-in-out;
}
.zoom-n-rotate:hover img{
    transform: scale(1.5);
}
